.icon-left{
    position: absolute;
    top: 60px;
    left: 60px;
}

.icon-right{
    position: absolute;
    bottom: 60px;
    right: 60px;
}

.season-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Winter{
    background-color: rgb(163, 213, 245);
}

.Summer{
    background-color: rgb(235, 194, 119);
}

.season-display.Winter i{
    color: rgb(47, 161, 233);
}

.season-display.Summer i{
    color: rgb(248, 107, 107);
}
